:root {
  --matrix-green: #00ff41;
  --content-max-width: 500px;
  --content-width: 75vw;
  --scketchpad-border: min(15px, 2vw);
}

html {
  min-height: 100%;
  background-image: url(/images/tincho-franco-kmafxTVsfG8-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1,
p,
button,
span {
  font-family: "Roboto Mono", monospace;
  color: var(--matrix-green);
}

h1 {
  font-size: 46px;
}

#main-container {
  width: calc(var(--content-width) + 2 * var(--scketchpad-border));
  max-width: var(--content-max-width);
  margin: 0 auto;
}

#page-title {
  text-align: center;

  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid var(--matrix-green); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 5% auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--matrix-green);
  }
}

.options-containers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
}

.btn-wrapper {
  flex: 1 1 auto;
  margin: 5px;
  padding: 2px;
  background-color: var(--matrix-green);
  background-image: linear-gradient(
    315deg,
    rgba(2, 0, 36, 1) 0%,
    var(--matrix-green)
  );
}

.color-options-btn {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  background-color: black;
  border: none;
}

.btn-wrapper:hover,
.btn-wrapper:focus {
  background-image: none;
}

.color-options-btn:hover,
.color-options-btn:focus {
  outline: none;
}

#color-picker {
  outline: none;
  border: none;
  height: 19px;
  width: 19px;
  padding: 0;
  margin: 0;
  background-color: black;
}

#sketchpad {
  width: var(--content-width);
  height: var(--content-width);
  max-width: calc(var(--content-max-width) - 30px);
  max-height: calc(var(--content-max-width) - 30px);
  margin: 0 auto;
  border: var(--scketchpad-border) solid var(--matrix-green);
  background-color: black;
}

#grid-width-slider {
  -webkit-appearance: none;
  width: 75%;
  height: 7px;
  flex: 1 1 auto;
  margin: 5px;
  outline: none;
  background-color: var(--matrix-green);
  opacity: 0.8;
}

#grid-width-slider:focus {
  outline: none;
}

#grid-width-slider:hover {
  opacity: 1;
}

/* Use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 25px;
  background: white;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 10px;
  height: 25px;
  background: white;
  cursor: pointer;
}
